<main class="flex gap-x-10">
            <div class="w-2/6 px-2">
                <!-- contact details -->
                <strong class="text-xl font-medium">Details</strong>
                <ul class="mt-2 mb-10">
                    <li class="px-2 mt-2"><strong class="mr-1 underline">Phone </strong>
                        <a href="tel:+821023456789" class="block">+2347-069-952-176</a>
                    </li>
                    <li class="px-2 mt-2"><strong class="mr-1 underline">E-mail </strong>
                        <a href="mailto:" class="block">aaronicks@gmail.com</a>
                    </li>
                    <li class="px-2 mt-2"><strong class="mr-1 underline">Location</strong><span class="block">Lagos,
                            Nigeria</span></li>
                </ul>

                <!-- github stats -->

                <br>
                <!-- skills -->
                <strong class="text-xl font-medium underline text-center">Skills</strong>
                <ul class="mt-2 mb-10">
                    <li class="px-2 mt-1">HTML</li>
                    <li class="px-2 mt-1">CSS</li>
                    <li class="px-2 mt-1">JavaScript</li>
                    <li class="px-2 mt-1">Python</li>
                    <li class="px-2 mt-1">Bootstrap Css</li>
                    <li class="px-2 mt-1">Bootstrap Css</li>
                    <li class="px-2 mt-1">PHP</li>
                    <li class="px-2 mt-1">UI/UX Design</li>
                    <li class="px-2 mt-1">Laravel</li>
                    <li class="px-2 mt-1">Tailwind Css</li><br>



               
                <strong class="text-xl font-medium underline">Hobbies</strong>
                <ul class="mt-2">
                    <li class="px-2 mt-1">Sustainability</li>
                    <li class="px-2 mt-1">New technologies</li>
                    <li class="px-2 mt-1">Blogging on dev.to</li>
                    <li class="px-2 mt-1">Investment</li>
                    <li class="px-2 mt-1">Travel</li>
                </ul>
            </div>
            <!-- info -->
            <div class="w-4/6">
                <section>
                    <!-- about me -->
                    <h2 class="text-2xl pb-1 border-b font-semibold">SUMMARY</h2>
                    <p class="mt-4 text-xs">As an experienced web developer, I have a strong foundation in essential web technologies like HTML, CSS, and JavaScript, and I'm dedicated to leveraging emerging tech for more efficient code, actively pursuing opportunities to contribute to web solutions and ensuring my ongoing growth in the field.
                    </p>

                </section>
                <section>
                    <!-- projects -->
                    <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Projects</h2>
                    <ul class="mt-1">

                        <li class="py-2">
                            <div class="flex justify-between my-1">
                               <strong>URL Shotener</strong>                       
                            </div>
                            <p class="text-xs">Thhis project was built for developler who would nnot like to cram long urls by heart. </p>
                        </li>

                        <li class="py-2">
                            <div class="flex justify-between my-1">
                                <strong>Django CRM</strong>  
                            </div>
                            <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                                expedita illum optio porro suscipit rerum labore veritatis autem eum totam veniam
                                repudiandae repellendus perspiciatis eligendi sequi maiores, cum ipsa ut!
                                Dolorum aliquid quaerat, dolore nemo, vero alias non porro quam totam impedit
                                repellat voluptas, nobis harum quae dolorem accusantium consequatur. Recusandae
                                cupiditate possimus natus consequuntur aliquid, molestias provident saepe nobis.
                            </p>
                        </li>
                        <li class="py-2">
                            <div class="flex justify-between my-1">
                                <strong>SocialBook</strong>
                            </div>
                            <p class="text-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                                odio autem non possimus adipisci, sed sequi culpa ipsa necessitatibus repellat
                                rerum. Obcaecati nobis modi voluptate nam minus praesentium soluta voluptatibus!
                                Minima temporibus deserunt laborum, expedita ad molestiae perferendis? Ipsa aut,
                                necessitatibus expedita rem iure minus sit voluptates magni, sequi eum architecto
                                excepturi tempora dolorum soluta quam odit amet nobis incidunt.</p>
                        </li>
                        <li class="py-2">
                            <div class="flex justify-between my-1">
                                <strong>School Management System</strong>
                            </div>
                            <p class="text-xs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus
                                suscipit soluta at doloremque ipsa unde, doloribus beatae delectus odio dolorum
                                consequatur libero esse ratione nostrum nihil quaerat alias cupiditate assumenda?
                                Nesciunt unde aliquid quam quisquam excepturi deserunt ipsa doloremque culpa itaque.
                                Esse consectetur odit est laboriosam facilis! Accusamus inventore vel magni sed
                                aliquid! Aspernatur dolores, nam id fugit ad aliquam.
                            </p>
                        </li>
                    </ul>
                </section>
                <section>
                    <!-- work experiences -->
                    <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Work Experiences</h2>
                    <ul class="mt-2 px-2">
                        <li class="p-2">
                            <p class="flex justify-between text-sm"><strong class="text-base">Plura Transit
                            </strong>2022 - 2023</p>
                            <p class="flex justify-between text-base">Web Apllication Administrator | Team Manager<small>Sango-ota, Ogun State</small></p>
                            <p class="text-justify text-xs">Defined and implemented the web development strategy for the transportationcompany, aligning it with the overall business goals. <br>Created a web based application tools designed to efficiently oversee and enhance the entire supply chain workflow, spanning from raw material sourcing to the delivery of final products to customers. <br>Crafted an application that enabled me to adeptly lead and supervise a team of logistics specialists, setting objectives and ensuring seamless operations by leveraging database expertise. <br>Streamlined daily tasks for both technical and administrative personnel while providing regular reports to my superiors <br> Developed a notification system that proactively alerted us to impending equipment maintenance deadlines, covering vehicles, forklifts, trucks, and storage systems. <br>
                            </p>
                        </li>
                        <li class="pt-2 p-2">
                            <p class="flex justify-between text-sm"><strong class="text-base">Pythronix (Self)
                            </strong>2021 - 2022</p>
                            <p class="flex justify-between text-base">Freelance Web Developer<small>Ibadan , Oyo State</small></p>
                            <p class="text-justify text-xs">Empowered the less privileged in the society through the organization of professional training and classes. <br>Managed multiple large-scale projects, delivering all on time and within budget <br>Developed and maintained the web application for Farmex Meyer Nigeria Limited, Proxy Visas, Babaoja which was an Ecommerce website and also developed new features for them. <br> Enrolled in some self-development training programmes with Google and Coursera. <br>Recommended and Supplied computer hardware and phone accessories to some organizations and individuals. <br>

                            </p>
                        </li>
                    </ul>
                </section>
                <section>
                    <!-- education -->
                    <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Education</h2>
                    <ul class="mt-2 px-2">
                        <li class="pt-2 p-2">
                            <p class="flex justify-between text-sm"><strong class="text-base">University of Michigan (Coursera)</strong>2021</p>
                            
                        </li>
                        <li class="pt-2">
                            <p class="flex justify-between text-sm"><strong class="text-base">Universtiy of Ibadan</strong>2008-2015</p> <br>
                        </li>
                    </ul>
                    <p class="text-sm text-center"><strong class="text-base text-center">MORE ON MY SENT CURRICULUM VITAE</strong></p> <br>
                </section>
            </div>
        </main>